body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, a, div {
  font-size: 1.2vw;
  font-size: 16px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

div.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10%; }
  div.nav div.logo {
    align-self: flex-end;
    display: inline-flex; }
    div.nav div.logo a {
      display: inline-block;
      padding-top: 4px;
      display: inline-block; }
      div.nav div.logo a svg {
        padding-top: 12px;
        height: 46px;
        fill: white;
        width: 100px; }
  div.nav div.menu {
    align-self: flex-end;
    display: inline-flex; }
    div.nav div.menu div a {
      text-transform: capitalize;
      display: inline-block;
      margin: 0 -2px 0 40px;
      padding: 10px 1px;
      border-bottom: 2px solid rgba(41, 98, 255, 0);
      font-size: 80%;
      font-weight: 300;
      color: #FFFEFE; }
      div.nav div.menu div a:hover {
        border-bottom: 1px solid #FFFEFE; }
      div.nav div.menu div a.active {
        border-bottom: 1px solid #FFFEFE; }

div.titles {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%); }
  div.titles h2 {
    font-size: 220%;
    font-weight: 800; }
  div.titles h3 {
    transform: translateY(-40%);
    font-size: 130%;
    font-weight: 300;
    font-style: italic; }

canvas.scene {
  width: 100%;
  height: 100vh; }

div.about {
  width: 100vw;
  height: 100vh;
  background: #2962ff;
  color: #FFFEFE; }
  div.about h2 {
    top: 45%; }

div.other {
  width: 100vw;
  height: 80vh;
  background: #2962ff;
  color: #FFFEFE; }
  div.other h2 {
    top: 45%; }

footer {
  height: 60vh;
  background: ghostwhite; }

div.content {
  display: flex;
  flex-direction: row;
  padding: 15px;
  margin: 20px 8%; }
  div.content div.blog-post.small {
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
    flex-grow: 1;
    width: 20%; }
    div.content div.blog-post.small div.inner {
      display: inline-flex;
      justify-content: start;
      flex-direction: column;
      align-items: center; }
      div.content div.blog-post.small div.inner object {
        width: 60%;
        min-width: 110px;
        max-height: 140px;
        margin: 20px 0; }
      div.content div.blog-post.small div.inner h2 {
        width: 100%;
        line-height: 20px;
        margin: 20px 0 0 0;
        font-size: 120%;
        text-transform: uppercase; }
      div.content div.blog-post.small div.inner h3 {
        margin: 20px 0 0 0;
        width: 100%;
        font-size: 100%; }
        div.content div.blog-post.small div.inner h3.red {
          color: #E91E63; }
        div.content div.blog-post.small div.inner h3.yellow {
          color: #FFAB00; }
        div.content div.blog-post.small div.inner h3.green {
          color: #00BFA5; }
      div.content div.blog-post.small div.inner h4 {
        width: 100%;
        font-size: 95%;
        font-weight: 400; }
    div.content div.blog-post.small.big {
      border: 2px solid red;
      display: flex; }
  div.content div.blog-post a.link {
    display: block;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.0; }
    div.content div.blog-post a.link:hover {
      opacity: 0.1; }

div.spinner {
  padding: 70px 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center; }
  div.spinner div {
    padding-top: 40px;
    font-style: italic;
    font-size: 90%; }
  div.spinner svg {
    animation: rotator 2s linear infinite; }
    div.spinner svg .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: dash 2s ease-in-out infinite, colors 8s ease-in-out infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
