body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, a, div {
  font-size: 1.2vw;
  font-size: 16px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

div.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10%; }
  div.nav div.logo {
    align-self: flex-end;
    display: inline-flex; }
    div.nav div.logo a {
      display: inline-block;
      padding-top: 4px;
      display: inline-block; }
      div.nav div.logo a svg {
        padding-top: 12px;
        height: 46px;
        fill: white;
        width: 100px; }
  div.nav div.menu {
    align-self: flex-end;
    display: inline-flex; }
    div.nav div.menu div a {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 -2px 5px 40px;
      padding: 3px 1px;
      border-bottom: 2px solid rgba(41, 98, 255, 0);
      font-size: 76%;
      font-weight: 300;
      color: #FFFEFE; }
      div.nav div.menu div a:hover {
        border-bottom: 1px solid #FFFEFE; }
      div.nav div.menu div a.active {
        border-bottom: 1px solid #FFFEFE; }

div.titles {
  position: absolute;
  top: 50%;
  left: 20vw;
  transform: translateY(-50%); }
  div.titles h2 {
    font-size: 220%;
    font-weight: 800; }
  div.titles h3 {
    transform: translateY(-40%);
    font-size: 130%;
    font-weight: 300;
    font-style: italic; }

canvas.scene {
  width: 100%;
  height: 100vh; }

div.about {
  width: 100vw;
  height: 100vh;
  background: #2962ff;
  color: #FFFEFE; }
  div.about h2 {
    top: 45%; }

div.other {
  width: 100vw;
  height: 80vh;
  background: #2962ff;
  color: #FFFEFE; }
  div.other.postpage {
    height: 50vh;
    background: #FFAB00; }

footer {
  height: 60vh;
  background: ghostwhite; }

div.filter-button {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin: 40px 0 0 10px; }
  div.filter-button.load-more {
    margin: 20px 0 50px 0; }
  div.filter-button div {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 72%;
    padding: 6px 24px;
    color: #2962ff;
    line-height: 25px;
    border-collapse: collapse;
    border: 2px solid #2962ff;
    cursor: pointer; }
    div.filter-button div.active {
      color: #FFFEFE;
      background: #2962ff; }
    div.filter-button div:hover {
      color: #FFFEFE;
      background: #2962ff; }
    div.filter-button div:nth-of-type(2) {
      margin: 0 -2px; }

div.content {
  display: flex;
  flex-flow: row wrap;
  padding: 15px;
  margin: 20px 8%; }
  div.content div.blog-post {
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
    flex-grow: 1;
    width: 20%;
    background: ghostwhite; }
    div.content div.blog-post div.inner {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      width: 100%; }
      div.content div.blog-post div.inner object {
        width: 60%;
        min-width: 110px;
        max-height: 140px;
        margin: 20px 0; }
      div.content div.blog-post div.inner h2 {
        width: 100%;
        line-height: 20px;
        margin: 20px 0 0 0;
        font-size: 120%;
        text-transform: uppercase; }
      div.content div.blog-post div.inner h3 {
        margin: 20px 0 0 0;
        width: 100%;
        font-size: 100%; }
        div.content div.blog-post div.inner h3.red {
          color: #E91E63; }
        div.content div.blog-post div.inner h3.yellow {
          color: #FFAB00; }
        div.content div.blog-post div.inner h3.green {
          color: #00BFA5; }
      div.content div.blog-post div.inner h4 {
        width: 100%;
        display: block;
        font-size: 95%;
        font-weight: 400; }
    div.content div.blog-post.big {
      width: 100%;
      flex-grow: 3;
      position: relative;
      justify-content: flex-end; }
      div.content div.blog-post.big div.inner {
        min-height: 400px;
        margin-left: 50%;
        width: 50%;
        display: inline-flex;
        justify-content: center;
        padding-right: 30px;
        align-items: center; }
        div.content div.blog-post.big div.inner object {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 50%;
          min-width: 110px;
          max-height: 250px;
          margin: 0; }
    div.content div.blog-post a.link {
      display: block;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      position: absolute;
      opacity: 0.0; }
      div.content div.blog-post a.link:hover {
        opacity: 0.1; }

div.single-post {
  width: 100%;
  display: flex;
  padding: 0px calc(12vw - 15px);
  flex-direction: column; }
  div.single-post h2 {
    font-size: 220%;
    font-weight: 800;
    margin: 0;
    padding: 5px 0px; }
  div.single-post h3 {
    margin: 0;
    font-size: 150%;
    font-weight: 300;
    font-style: italic;
    padding-top: 20px; }
  div.single-post div.inner {
    padding: 40px 0 40px 7vw; }

div.author-postpage {
  position: relative;
  padding: 60px 0;
  margin: 2% 0 5% 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  div.author-postpage:before {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    top: 0;
    left: calc(20vw - 15px); }
  div.author-postpage div.image {
    width: 20%;
    max-width: 150px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    div.author-postpage div.image:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
    div.author-postpage div.image img {
      overflow: hidden;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute; }
  div.author-postpage div.text {
    width: 55%;
    padding: 5px;
    margin-left: 5%; }
    div.author-postpage div.text h3 {
      margin: 0;
      text-transform: uppercase; }
    div.author-postpage div.text h4 {
      font-size: 95%;
      font-weight: 400; }

div.spinner {
  padding: 70px 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center; }
  div.spinner div {
    padding-top: 40px;
    font-style: italic;
    font-size: 90%; }
  div.spinner svg {
    animation: rotator 2s linear infinite; }
    div.spinner svg .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: dash 2s ease-in-out infinite, colors 8s ease-in-out infinite; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
