
$void: #0e0b16;
$niceblue: #0e01b6;
$jewel: #4717F6;
$fuschia: #a239ca;
$stark: #e7dfdd;

html.homepage{
  overflow: hidden;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

h1, h2, h3, h4, a, div {
  font-size: 16px;
}

h1 {
  font-size: 0px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div.logo {
  position: absolute;
  top: 0;
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 0 8%;
  div  {
    align-self: flex-end;
    a {
      margin: 0 13px;
      padding: 5px 2px;
      font-size: 82%;
      color:$stark;
      border-bottom: 1px solid $void;
    }
  }
}

div.nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 70%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  // background: grey;
  padding: 0 8%;
  div  {
    align-self: flex-end;
    a {
      // text-transform: uppercase;
      margin: 0 13px;
      padding: 5px 2px;
      font-size: 82%;
      color:$stark;
      border-bottom: 1px solid $void;
      &:hover {
        border-bottom: 1px solid $stark;
      }
    }
  }
}

div.footer {
  height: 70vh;
  background: $jewel;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: $void;
  div.column {
    border-top: 1px solid $stark;
    margin: 90px 2%;
    padding: 10px 15px 0 0 ;
    // background: ghostwhite;
    div.column-title {
      text-transform: uppercase;
      margin: 12px 0px;
      margin-bottom: 18px;
      font-weight: 600;
      font-size: 95%;
    }
    div.column-link {
      margin: 8px 0px;
      a {
        color: $stark;
        border-bottom: 2px solid $fuschia;
        // line-height: 25px;
        padding: 2px 0px;
        font-size: 95%;
      }
    }
    div.column-text {
      padding: 2px 0px;
      color: $stark;
      margin: 8px 0px;
      font-size: 95%;
    }
    div.lineSpacer {
      line-height: 10px;
      height: 10px;
    }

  }
}

h2 {
  font-weight: 600;
  position: absolute;
  left: calc(8%);
  transition: 0.4s ease;
  div {
    font-size: 160%;
  }
  span {
    color: $jewel;
    // font-weight: 600;
  }
  span.colorful {
    background: -webkit-linear-gradient(left,#35d6d1 12%,#ecff28 88%) no-repeat;
    -webkit-background-clip: text;
    color: #b4f25f;
    -webkit-text-fill-color: transparent;
  }

  &.title-appear {
    opacity: 0.01;
    transform: translate(0%, -200%);
  }
  // &.title-active {
  //   transform: translate(0%, -100%);
  //   opacity: 1;
  // }
  &.story-enter {
    opacity: 0.01;
    transform: translate(0%, -200%);
  }
  &.story-appear {
    opacity: 0.01;
    transform: translate(0%, -200%);
  }
  // &.title-enter.title-enter-active {
  //   opacity: 1;
  //   transform: translate(0%, -100%);
  //   transition: opacity 500ms ease-in;
  // }
  // transition: all 0.4s ease;
}


//
//
// &.title-appear {
//   opacity: 0.01;
//   transform: translate(0%, -200%);
// }
// &.title-active {
//   transform: translate(0%, -100%);
//   opacity: 1;
// }
//
// .title-leave {
//   opacity: 1;
// }
//
// .title-leave.title-leave-active {
//   opacity: 0.01;
//   transition: opacity 300ms ease-in;
// }





div.homepage {
  width: 100vw;
  height: 100vh;
  background: $void;
  // background: -webkit-linear-gradient(left,$void 32%,#262649 88%) no-repeat;
  color: $stark;
  h2 {
    top: 45%;
  }
}

div.contact {
  width: 100vw;
  height: 65vh;
  background: $void;
  color: $stark;
  h2 {
    top: 32%;
  }
}
div.about {
  width: 100vw;
  height: 65vh;
  background: $void;
  color: $stark;
  h2 {
    top: 32%;
  }
}

div.thinking {
  width: 100vw;
  height: 65vh;
  background: $void;
  color: $stark;
  h2 {
    top: 32%;
  }
}


div.scroll-down a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  padding-top: 60px;
  span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 25px;
    height: 45px;
    margin-left: -15px;
    border: 1px solid $stark;
    border-radius: 50px;
    box-sizing: border-box;
  }
  span::before {
    position: absolute;
    top: 9px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: $stark;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
  }
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
