body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, a, div {
  font-size: 1.2vw;
  font-size: 16px; }

* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

div.nav {
  position: fixed;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 10%; }
  div.nav div.logo {
    align-self: flex-end;
    display: inline-flex; }
    div.nav div.logo a {
      display: inline-block;
      padding-top: 4px;
      display: inline-block; }
      div.nav div.logo a svg {
        padding-top: 12px;
        height: 46px;
        fill: white;
        width: 100px; }
  div.nav div.menu {
    align-self: flex-end;
    display: inline-flex; }
    div.nav div.menu div a {
      display: inline-block;
      text-transform: uppercase;
      margin: 0 -2px 5px 40px;
      padding: 3px 3px;
      border-bottom: 2px solid rgba(41, 98, 255, 0);
      font-size: 76%;
      font-weight: 600;
      color: #FFFEFE; }
      div.nav div.menu div a:hover {
        border-bottom: 2px solid #FFFEFE; }
      div.nav div.menu div a.active {
        border-bottom: 2px solid #FFFEFE; }

div.titles {
  position: absolute;
  top: 50%;
  left: 20vw;
  transform: translateY(-50%); }
  div.titles h2 {
    font-size: 220%;
    font-weight: 800; }
  div.titles h3 {
    transform: translateY(-40%);
    font-size: 130%;
    font-weight: 300;
    font-style: italic; }

canvas.scene {
  width: 100%;
  height: 100vh; }

div.about {
  width: 100vw;
  height: 100vh;
  background: #2962ff;
  color: #FFFEFE; }
  div.about h2 {
    top: 45%; }

div.other {
  width: 100vw;
  height: 80vh;
  background: #2962ff;
  color: #FFFEFE;
  position: relative; }
  div.other.postpage {
    background: white;
    height: 50vh; }
  div.other div.category-heading {
    background: white;
    position: absolute;
    bottom: 0px;
    transform: translateY(50%);
    left: calc(20vw);
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 72%;
    padding: 6px 44px;
    line-height: 25px;
    color: black; }

footer {
  height: 50vh;
  padding-bottom: 80px;
  background: #303030;
  display: block;
  color: white;
  font-size: 90%;
  position: relative;
  text-align: center; }
  footer > div {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-top: 20px; }
  footer div.top-row {
    position: relative;
    display: block; }
    footer div.top-row a {
      display: inline-block;
      padding: 3px 1px;
      margin: 0 20px;
      border-bottom: 1px solid rgba(41, 98, 255, 0);
      font-size: 80%;
      font-weight: 300;
      color: white; }
      footer div.top-row a:hover {
        border-bottom: 1px solid white; }
  footer div.bottom-row {
    display: block;
    text-align: center;
    position: relative; }
    footer div.bottom-row div {
      display: inline-block;
      font-size: 70%;
      color: white;
      font-size: 300; }
      footer div.bottom-row div:after {
        content: "|";
        padding: 0 10px; }
      footer div.bottom-row div:nth-last-of-type(1):after {
        content: "";
        padding: 0px; }

div.filter-button {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  height: 80px;
  width: 100%;
  background: #e6ebf1; }
  div.filter-button.load-more {
    height: 150px;
    margin: 0;
    padding-bottom: 80px; }
  div.filter-button div {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.06), 0 5px 15px rgba(0, 0, 0, 0.04);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 72%;
    padding: 8px 48px;
    color: #2962ff;
    line-height: 25px;
    align-self: flex-end;
    border-collapse: collapse;
    background: white;
    height: 40px;
    margin: 0 20px;
    cursor: pointer; }
    div.filter-button div.active {
      color: #FFFEFE;
      background: #2962ff; }
    div.filter-button div:hover {
      color: #FFFEFE;
      background: #2962ff; }
    div.filter-button div:nth-of-type(2) {
      margin: 0 -2px; }

div.blog-post {
  position: relative;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.05), 0 5px 15px rgba(0, 0, 0, 0.07);
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  flex-grow: 1;
  width: 20%;
  background: white; }
  div.blog-post div.inner {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px; }
    div.blog-post div.inner div.svg-wrap {
      width: 110px;
      height: 110px;
      margin: 20px 0;
      border-radius: 50%;
      z-index: 10;
      overflow: hidden; }
      div.blog-post div.inner div.svg-wrap object {
        padding: 17px;
        margin: 0px;
        fill: #2962ff;
        width: 100%;
        overflow: hidden; }
    div.blog-post div.inner h2 {
      width: 100%;
      line-height: 20px;
      margin: 10px 0 0 0;
      font-size: 100%;
      text-transform: uppercase;
      color: #525f7f;
      color: #32325d; }
    div.blog-post div.inner h3 {
      position: absolute;
      margin: 20px 0 0 0;
      font-weight: 700;
      font-size: 82%;
      padding: 6px 44px;
      line-height: 25px;
      text-transform: uppercase;
      bottom: 10px; }
    div.blog-post div.inner h4 {
      width: 100%;
      display: block;
      font-size: 93%;
      font-weight: 400;
      color: #525f7f; }
  div.blog-post.big {
    width: 100%;
    flex-grow: 3;
    position: relative;
    justify-content: flex-end; }
    div.blog-post.big::before {
      display: none; }
    div.blog-post.big div.inner {
      min-height: 400px;
      margin-left: 50%;
      width: 50%;
      display: inline-flex;
      justify-content: center;
      padding-right: 30px;
      align-items: center; }
      div.blog-post.big div.inner div.svg-wrap {
        position: absolute;
        left: 25%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 220px;
        height: 220px;
        margin: 0px;
        border-radius: 50%;
        overflow: hidden; }
        div.blog-post.big div.inner div.svg-wrap object {
          padding: 35px;
          margin: 0px;
          fill: #2962ff;
          width: 100%;
          overflow: hidden; }
      div.blog-post.big div.inner h3 {
        position: absolute;
        margin: 20px 0 0 0;
        font-weight: 700;
        font-size: 82%;
        padding: 0;
        line-height: 25px;
        text-transform: uppercase;
        bottom: 32%;
        left: 50%; }
  div.blog-post a.link {
    display: block;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0.0;
    transition: 0.3s ease; }
    div.blog-post a.link::before {
      opacity: 0.0;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: calc( 100% - 100px);
      background: red; }
    div.blog-post a.link:hover {
      opacity: 0.3; }

div.content {
  display: flex;
  flex-flow: row wrap; }
  div.content.thinking {
    padding: 15px 8%;
    background: #e6ebf1; }
  div.content.postpage {
    padding: 35px 0%;
    margin: 20px 8%; }

div.slideshow-wrapper {
  background: black;
  margin: 0px 0 0 0; }
  div.slideshow-wrapper li.dot {
    box-shadow: none; }
  div.slideshow-wrapper > div {
    height: 80vh; }
    div.slideshow-wrapper > div > div.carousel {
      height: 80vh; }
      div.slideshow-wrapper > div > div.carousel li.slide {
        height: 80vh; }
        div.slideshow-wrapper > div > div.carousel li.slide div.slideshow {
          height: 80vh;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          text-align: left; }
          div.slideshow-wrapper > div > div.carousel li.slide div.slideshow img {
            width: 100%;
            background: display; }
          div.slideshow-wrapper > div > div.carousel li.slide div.slideshow div.text {
            margin-left: 20vw;
            font-size: 220%;
            font-weight: 300;
            padding: 20px 0;
            width: 60vw; }
          div.slideshow-wrapper > div > div.carousel li.slide div.slideshow div.by {
            margin-left: 20vw;
            width: 80vw;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 130%; }

div.join-us {
  position: relative;
  width: 100%;
  height: 360px; }
  div.join-us > div {
    padding: 60px calc(4% + 20px) 30px calc(8% + 20px);
    width: 50%;
    top: 0;
    height: 100%;
    display: inline-block;
    position: absolute;
    border-bottom: 3px solid #f8f8ff; }
    div.join-us > div:nth-of-type(1) {
      left: 0;
      border-right: 3px solid #f8f8ff; }
    div.join-us > div:nth-of-type(2) {
      right: 0;
      padding: 60px calc(4% + 20px) 30px calc(4% + 20px); }
    div.join-us > div * {
      margin: 0; }
    div.join-us > div h3 {
      font-size: 220%;
      font-weight: 300;
      margin: 0;
      margin-top: 20px;
      padding: 0px 0; }
    div.join-us > div h4 {
      font-size: 100%;
      font-weight: 300;
      margin: 0px 0;
      padding: 25px 0; }
    div.join-us > div a {
      color: #2962ff; }

div.about-content div.headings {
  margin: 2vh 0;
  padding: 50px 20vw 0px 20vw; }
  div.about-content div.headings p {
    font-size: 220%;
    font-weight: 300;
    margin: 15px 0;
    padding: 15px 0;
    line-height: 160%; }

div.about-content div.partners {
  margin: 10px 0 100px 0px;
  display: flex;
  padding: 0px 20vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  div.about-content div.partners div {
    width: 18%;
    margin: 1% 0; }

div.about-content div.three-posts {
  display: flex;
  flex-flow: row wrap;
  padding: 85px 8%;
  position: relative;
  background: #e6ebf1; }

div.services-block {
  position: relative;
  width: 100%;
  height: 420px; }
  div.services-block div.service {
    padding: 60px calc(4% + 20px) 30px calc(8% + 20px);
    width: 50%;
    top: 0;
    height: 100%;
    display: inline-block;
    position: absolute;
    border-bottom: 3px solid #e6ebf1; }
    div.services-block div.service:nth-of-type(1) {
      left: 0;
      border-right: 3px solid #e6ebf1; }
    div.services-block div.service:nth-of-type(2) {
      right: 0;
      padding: 60px calc(4% + 20px) 30px calc(4% + 20px); }
    div.services-block div.service div.svg-wrap {
      width: 85px;
      height: 85px;
      position: relative;
      margin: 5px;
      border-radius: 50%;
      background: #2962ff;
      background: #f8f8ff;
      overflow: hidden; }
      div.services-block div.service div.svg-wrap svg {
        padding: 15px;
        margin: 0px;
        background: #2962ff;
        background: #f8f8ff;
        fill: #2962ff;
        width: 100%;
        overflow: hidden; }
    div.services-block div.service div.text-wrap {
      width: 100%; }
      div.services-block div.service div.text-wrap h2 {
        font-size: 220%;
        font-weight: 300;
        margin: 0;
        margin-top: 20px;
        padding: 0px 0; }
      div.services-block div.service div.text-wrap p {
        font-size: 100%;
        font-weight: 300;
        margin: 0px 0;
        padding: 25px 0; }

div.single-post {
  width: 100%;
  display: flex;
  padding: 0px calc(12vw - 15px);
  flex-direction: column; }
  div.single-post h2 {
    font-size: 220%;
    font-weight: 800;
    margin: 0;
    padding: 5px 0px; }
  div.single-post h3 {
    margin: 0;
    font-size: 150%;
    font-weight: 300;
    font-style: italic;
    padding-top: 20px; }
  div.single-post div.inner {
    padding: 40px 0 40px 7vw; }
    div.single-post div.inner img {
      width: 100%;
      height: 100%; }

div.author-postpage {
  position: relative;
  padding: 70px 0;
  margin: 0% 0 6% calc(12vw - 15px);
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  div.author-postpage:before {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    border-top: 6px solid #333333;
    top: 0px; }
  div.author-postpage div.image {
    width: 20%;
    max-width: 150px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%; }
    div.author-postpage div.image:after {
      content: "";
      display: block;
      padding-bottom: 100%; }
    div.author-postpage div.image img {
      overflow: hidden;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute; }
  div.author-postpage div.text {
    width: 60%;
    padding: 5px;
    margin-left: 5%; }
    div.author-postpage div.text h3 {
      margin: 0;
      text-transform: uppercase; }
    div.author-postpage div.text h4 {
      font-size: 95%;
      font-weight: 400;
      margin: 12px 0; }
    div.author-postpage div.text a {
      font-size: 85%;
      color: #2962ff; }

div.spinner {
  padding: 70px 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self: center; }
  div.spinner div {
    padding-top: 40px;
    font-style: italic;
    font-size: 90%; }
  div.spinner svg {
    animation: rotator 2s linear infinite; }
    div.spinner svg .path {
      stroke-dasharray: 187;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation: dash 2s ease-in-out infinite, colors 8s ease-in-out infinite; }

div.map-block {
  display: flex;
  justify-content: center;
  padding: 4% 8vw;
  background: white;
  background: #f8f8ff; }
  div.map-block div.up-map {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 250px;
    width: 30%; }
    div.map-block div.up-map div.text {
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1);
      background: white;
      height: 170px;
      padding: 25px; }
      div.map-block div.up-map div.text * {
        margin: 0;
        padding: 0; }
      div.map-block div.up-map div.text h2 {
        text-transform: uppercase;
        padding-bottom: 15px; }
      div.map-block div.up-map div.text p {
        font-size: 90%;
        padding-bottom: 15px; }
      div.map-block div.up-map div.text a {
        display: block;
        font-size: 90%; }

div.careers {
  display: inline-block;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.06), 0 5px 15px rgba(0, 0, 0, 0.04);
  margin-top: 10px; }
  div.careers a {
    color: #2962ff !important;
    display: block;
    padding: 12px 55px;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700;
    margin: 0;
    background: #f8f8ff; }
    div.careers a:hover {
      color: #FFFEFE !important;
      background: #2962ff; }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes colors {
  0% {
    stroke: #4285F4; }
  25% {
    stroke: #DE3E35; }
  50% {
    stroke: #F7C223; }
  75% {
    stroke: #1B9A59; }
  100% {
    stroke: #4285F4; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }
