
$theblue: rgba(41, 98, 255,1);
$theblue0: rgba(41, 98, 255,0);

$theyellow: #FFAB00;
$thegreen: #00BFA5;
$thered: #E91E63;


// variables for loading spinner
$offset: 187;
$duration:2s;

// $theblue:  rgba(15, 46, 130,1);
// $theblue0:  rgba(15, 46, 130,0);

$stark: #FFFEFE;

body {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, a, div {
  font-size: 1.2vw;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div.nav {
  position: absolute;
  top: 0;
  // right: 10%;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0 10%;
  // background: red;
  // border-bottom: 2px solid $stark;
  div.logo {
    align-self: flex-end;
    display: inline-flex;
    // background: red;
    // align-self: flex-start;
    a {
      display: inline-block;
      padding-top: 4px;
      display: inline-block;
      svg {
        padding-top: 12px;
        height: 46px;
        fill: white;
        width: 100px;
      }
    }

  }
  div.menu  {
    // background: green;
    align-self: flex-end;
    display: inline-flex;
    div {
      a {
        text-transform:capitalize;
        display: inline-block;
        // text-transform: uppercase;
        margin: 0 -2px 0 40px;
        padding: 10px 1px;
        border-bottom: 2px solid $theblue0;
        font-size: 80%;
        font-weight: 300;
        color:$stark;
        &:hover {
          border-bottom: 1px solid $stark;
        }
        &.active {
          border-bottom: 1px solid $stark;
        }
      }

    }
  }
}

div.titles {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);
  h2 {
    font-size: 220%;
    font-weight: 800;
  }
  h3 {
    transform: translateY(-40%);
    font-size: 130%;
    font-weight: 300;
    font-style: italic;
  }
}

canvas.scene {
  width: 100%;
  height: 100vh;
}

div.about {
  width: 100vw;
  height: 100vh;
  background: $theblue;
  color: $stark;
  h2 {
    top: 45%;
  }
}
div.other {
  width: 100vw;
  height: 80vh;
  background: $theblue;
  color: $stark;
  h2 {
    top: 45%;
  }
}

footer {
  height: 60vh;
  background: ghostwhite;
  // margin-top: 200px;
}
div.filter-button {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  margin: 40px 0 0 10px;
  // background: grey;
  div{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 72%;
    padding: 6px 24px;
    color: $theblue;
    line-height: 25px;
    border-collapse: collapse;
    border: 2px solid $theblue;
    cursor: pointer;
    &.active {
      color: $stark;
      background: $theblue;
    }
    &:hover {
      color: $stark;
      background: $theblue;
    }
    &:nth-of-type(2) {
      margin: 0 -2px;
    }
  }
}

div.content {
  display: flex;
  // width: 100vw;
  flex-flow: row wrap;
  padding: 15px;
  margin: 20px 8%;
  div.blog-post {
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    padding: 20px;
    flex-grow: 1;
    width: 20%;
    background: ghostwhite;
    div.inner {
      display:inline-flex;
      // justify-content: start;
      flex-direction: column;
      align-items: center;
      width: 100%;
      object {
        width: 60%;
        min-width: 110px;
        max-height: 140px;
        margin: 20px 0;
      }
      h2 {
        width: 100%;
        line-height: 20px;
        margin: 20px 0 0 0;
        font-size: 120%;
        text-transform: uppercase;
      }
      h3 {
        margin: 20px 0 0 0;
        width: 100%;
        font-size: 100%;
        &.red { color: $thered}
        &.yellow { color: $theyellow}
        &.green { color: $thegreen}
      }
      h4 {
        width: 100%;
        display: block;
        font-size: 95%;
        font-weight: 400;
      }
    }
    &.big {
      width: 100%;
      flex-grow: 3;
      position: relative;
      justify-content:flex-end;
      div.inner {
        object {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 50%;
          min-width: 110px;
          max-height: 250px;
          margin: 0;
        }
        min-height: 400px;
        margin-left: 50%;
        width: 50%;
        display:inline-flex;
        justify-content:center;
        padding-right: 30px;
        align-items: center;
      }
    }
    a.link {
      display: block;
      // display: none;
      top:0;
      right:0;
      left:0;
      bottom:0;
      position: absolute;
      opacity: 0.0;
      // background: red;
      &:hover {
        opacity: 0.1;
      }
    }
  }
}


div.spinner  {
  // background: red;
  padding:70px 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self:center;
  div  {
    padding-top: 40px;
    font-style: italic;
    font-size: 90%;
  }
  svg {
    animation: rotator $duration linear infinite;
    .path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
    }
  }

}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}


@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
