
$theblue: rgba(41, 98, 255,1);
$theblue0: rgba(41, 98, 255,0);

// $theblue: rgba(57, 96, 239, 1); // new one     3960ef
// $theblue0: rgba(57, 96, 239, 0); // new one             // 5d79e2 over?

$ghostwhite: #f8f8ff;


$newgrey: #525f7f;
// $thinkingBackground: #f8f8ff; // 101D42
$thinkingBackground: #f6f9fc; // 101D42
$thinkingBackground: #e6ebf1; // 101D42
$thinkingPanels: white;

$greyborder: #dce2ea;

$theyellow: #FFAB00;
$thegreen: #00BFA5;
$thered: #E91E63;

$theblack: #333333;
$thegrey: #303030;


// variables for loading spinner
$offset: 187;
$duration:2s;

// $theblue:  rgba(15, 46, 130,1);
// $theblue0:  rgba(15, 46, 130,0);

$stark: #FFFEFE;

body {
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, a, div {
  font-size: 1.2vw;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div.nav {
  position:fixed;
  position:absolute;
  top: 0;
  z-index: 10;
  // right: 10%;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 10%;
  // background: tomato;
  // border-bottom: 2px solid $stark;
  div.logo {
    align-self: flex-end;
    display: inline-flex;
    // background: red;
    // align-self: flex-start;
    a {
      display: inline-block;
      padding-top: 4px;
      display: inline-block;
      svg {
        padding-top: 12px;
        height: 46px;
        fill: white;
        width: 100px;
      }
    }

  }
  div.menu  {
    // background: green;
    align-self: flex-end;
    display: inline-flex;
    div {
      a {
        display: inline-block;
        text-transform: uppercase;
        margin: 0 -2px 5px 40px;
        padding: 3px 3px;
        // background: $theblue;
        border-bottom: 2px solid $theblue0;
        font-size: 76%;
        font-weight: 600;
        color:$stark;
        &:hover {
          // opacity: 0.8;
          border-bottom: 2px solid $stark;
        }
        &.active {
          border-bottom: 2px solid $stark;
        }
      }

    }
  }
}

div.titles {
  position: absolute;
  top: 50%;
  left: 20vw;
  transform: translateY(-50%);
  h2 {
    font-size: 220%;
    font-weight: 800;
  }
  h3 {
    transform: translateY(-40%);
    font-size: 130%;
    font-weight: 300;
    font-style: italic;
  }
}

canvas.scene {
  width: 100%;
  height: 100vh;
}

div.about {
  width: 100vw;
  height: 100vh;
  background: $theblue;
  color: $stark;
  h2 {
    top: 45%;
  }
}
div.other {
  width: 100vw;
  height: 80vh;
  background: $theblue;
  color: $stark;
  position: relative;
  &.postpage {
    background: white;
    height: 50vh;
  }
  div.category-heading {
    background: white;
    position: absolute;
    bottom: 0px;
    transform: translateY(50%);
    left: calc(20vw);
    text-transform: uppercase;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 72%;
    padding: 6px 44px;
    line-height: 25px;
    color: black;
  }
}

footer {
  // margin-top: 20vh;
  height: 50vh;
  padding-bottom: 80px;
  background: $thegrey;
  display: block;
  color: white;
  font-size: 90%;
  position: relative;
  text-align: center;
  // display: none;
  > div {
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-top: 20px;
  }
    div.top-row {
      // padding: 40px;
      // background: red;
      position: relative;
      display: block;
      a {
        display: inline-block;
        padding: 3px 1px;
        margin: 0 20px;
        border-bottom: 1px solid $theblue0;
        font-size: 80%;
        font-weight: 300;
        color:white;
        &:hover {
          border-bottom: 1px solid white;
        }
      }
    }
    div.bottom-row {
      // background: green;
      display: block;
      text-align: center;
      position: relative;
      div {
        display: inline-block;
        font-size: 70%;
        color: white;
        font-size: 300;
        &:after {
          content: "|";
          padding: 0 10px;
        }
        &:nth-last-of-type(1) {
          &:after {
            content: "";
            padding: 0px;
          }
        }
      }
    }
}
div.filter-button {
  display: flex;
  justify-content: center;
  align-content:flex-end;
  // height: 100%;
  height: 80px;
  width: 100%;
  background: $thinkingBackground;
  &.load-more {
    height: 150px;
    margin: 0;
    padding-bottom: 80px;
  }
  div{
    box-shadow: 0 15px 35px rgba(50,50,93,.06), 0 5px 15px rgba(0,0,0,.04);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 72%;
    padding: 8px 48px;
    color: $theblue;
    line-height: 25px;
    align-self: flex-end;
    // border-radius: 5px;
    border-collapse: collapse;
    background: $thinkingPanels;
    height: 40px;
    margin: 0 20px;
    // border: 2px solid $theblue;
    cursor: pointer;
    &.active {
      color: $stark;
      background: $theblue;
    }
    &:hover {
      color: $stark;
      background: $theblue;
    }
    &:nth-of-type(2) {
      margin: 0 -2px;
    }
  }
}
div.blog-post {
  position: relative;
  box-shadow: 0 15px 35px rgba(50,50,93,.05), 0 5px 15px rgba(0,0,0,.07);
  margin: 10px;
  box-sizing: border-box;
  padding: 20px;
  // border-radius: 5px;
  flex-grow: 1;
  width: 20%;
  background: $thinkingPanels;
  // &::before {
  //   content:'';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   left: 0;
  //   height: 100px;
  //   background: #f6f9fc;
  // }
  div.inner {
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    div.svg-wrap {
      width: 110px;
      height: 110px;
      margin: 20px 0;
      border-radius: 50%;
      z-index: 10;
      overflow: hidden;
      object {
        padding: 17px;
        margin: 0px;
        fill: $theblue;
        width: 100%;
        overflow: hidden;
      }
    }
    h2 {
      width: 100%;
      line-height: 20px;
      margin: 10px 0 0 0;
      font-size: 100%;
      text-transform: uppercase;
      color: $newgrey;
      color: #32325d;
    }
    h3 {
      position: absolute;
      margin: 20px 0 0 0;
      font-weight: 700;
      font-size: 82%;
      padding: 6px 44px;
      line-height: 25px;
      text-transform: uppercase;
      bottom: 10px;
    }
    h4 {
      width: 100%;
      display: block;
      font-size: 93%;
      font-weight: 400;
      color: $newgrey;
    }
  }
  &.big {
    width: 100%;
    flex-grow: 3;
    position: relative;
    justify-content:flex-end;
    &::before {
      display: none;
    }
    div.inner {
      div.svg-wrap {
        position: absolute;
        left: 25%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 220px;
        height: 220px;
        margin: 0px;
        border-radius: 50%;
        overflow: hidden;
        // opacity: 0.4;
        object {
          padding: 35px;
          margin: 0px;
          fill: $theblue;
          width: 100%;
          overflow: hidden;
        }
      }
      min-height: 400px;
      margin-left: 50%;
      width: 50%;
      display:inline-flex;
      justify-content:center;
      padding-right: 30px;
      align-items: center;
      h3 {
        position: absolute;
        margin: 20px 0 0 0;
        font-weight: 700;
        font-size: 82%;
        padding: 0;
        line-height: 25px;
        text-transform: uppercase;
        bottom: 32%;
        left: 50%;
      }
    }
  }
  a.link {
    display: block;
    // display:hidden;
    z-index: 100;
    top:0;
    right:0;
    left:0;
    bottom:0;
    position: absolute;
    opacity: 0.0;
    transition: 0.3s ease;
    // border-radius: 5px;
    // background: red;
    // mix-blend-mode: difference;
    &::before {
      opacity: 0.0;
      content:'';
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: calc( 100% - 100px);
      background: red;
    }
    &:hover {
      opacity: 0.3;
      // &::before {
      //   opacity: 1;
      // }
    }
  }
}

div.content {
  display: flex;
  // width: 100vw;
  flex-flow: row wrap;
  // margin: 20px 8%;
  // padding: 15px 8%;
  // background: $grey;
  &.thinking {
    padding: 15px 8%;
    background: $thinkingBackground
  }
  &.postpage {
    padding: 35px 0%;
    margin: 20px 8%;
  }
}

div.slideshow-wrapper {
  background: black;
  margin: 0px 0 0 0;
  li.dot {
    box-shadow:none;
  }
  > div {
    height: 80vh;
    > div.carousel {
        height: 80vh;
      li.slide {
        height: 80vh;
        div.slideshow {
          height: 80vh;
          color: white;
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-wrap: wrap;
          text-align: left;
          img {
            width: 100%;
            background: display;
          }
          div.text {
            margin-left: 20vw;
            font-size: 220%;
            font-weight: 300;
            padding: 20px 0;
            width: 60vw;
          }
          div.by {
            margin-left: 20vw;
            width: 80vw;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 130%;
          }
        }
      }
    }
  }
}


div.join-us {
  position: relative;
  width: 100%;
  height: 360px;
  > div {
    padding: 60px calc(4% + 20px) 30px calc(8% + 20px);
    width: 50%;
    top:0;
    height: 100%;
    display: inline-block;
    position: absolute;
    border-bottom: 3px solid $ghostwhite;
    &:nth-of-type(1) {
      left:0;
      border-right: 3px solid $ghostwhite;
    }
    &:nth-of-type(2) {
      right:0;
      padding: 60px calc(4% + 20px) 30px calc(4% + 20px);
    }
    * {
      margin: 0;
    }
    h3 {
      font-size: 220%;
      font-weight: 300;
      margin:0;
      margin-top: 20px;
      padding: 0px 0;
    }
    h4 {
      font-size: 100%;
      font-weight: 300;
      margin: 0px 0;
      padding: 25px 0;
    }
    a {
      color: $theblue;
      // text-decoration: underline;
    }
  }
}

div.about-content {
  div.headings {
    margin: 2vh 0;
    padding: 50px 20vw 0px 20vw;
    p {
      font-size: 220%;
      font-weight: 300;
      margin: 15px 0;
      padding: 15px 0;
      line-height: 160%;
    }
  }
  div.partners {
    margin: 10px 0 100px 0px;
    display: flex;
    padding: 0px 20vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // justify-content: center;
    div {
      // background: ghostwhite;
      width: 18%;
      margin: 1% 0;
    }
  }
  div.three-posts {
    display: flex;
    flex-flow: row wrap;
    padding: 85px 8%;
    position: relative;
    background: $thinkingBackground;

    // &:before {
    //   position: absolute;
    //   content: "";
    //   display: block;
    //   width: 200px;
    //   border-top: 6px solid $theblack;
    //   top: 0px;
    // }
  }
}


div.services-block {
  position: relative;
  // background: grey;
  width: 100%;
  height: 420px;
  div.service {
    padding: 60px calc(4% + 20px) 30px calc(8% + 20px);
    // margin: 0 10px;
    width: 50%;
    top:0;
    height: 100%;
    display: inline-block;
    // background: red;
    position: absolute;
    border-bottom: 3px solid $thinkingBackground;
    &:nth-of-type(1) {
      left:0;
      border-right: 3px solid $thinkingBackground;
    }
    &:nth-of-type(2) {
      right:0;
      padding: 60px calc(4% + 20px) 30px calc(4% + 20px);
    }
    div.svg-wrap {
      // width: 100%;
      width: 85px;
      height: 85px;
      position: relative;
      margin: 5px;
      // padding: 25px;
      // display: none;
      border-radius: 50%;
      background: $theblue;
        background: $ghostwhite;
      overflow: hidden;
      svg {
        padding: 15px;
        margin: 0px;
        background: $theblue;
        background: $ghostwhite;
        fill: $theblue;
        // fill: white;
        width: 100%;
        overflow: hidden;
      }
    }
    div.text-wrap {
      width: 100%;
      h2 {
          // background: grey;
        font-size: 220%;
        font-weight: 300;
        margin:0;
        margin-top: 20px;
        padding: 0px 0;
      }
      p {
        font-size: 100%;
        font-weight: 300;
        margin: 0px 0;
        padding: 25px 0;
      }
    }
  }
}

div.single-post {
  width: 100%;
  display: flex;
  padding: 0px calc(12vw - 15px);
  // margin-top: 5px;
  flex-direction: column;
  // background: grey;ยง
  h2 {
    font-size: 220%;
    font-weight: 800;
    margin: 0;
    padding: 5px 0px;
  }
  h3 {
    margin: 0;
    font-size: 150%;
    font-weight: 300;
    font-style: italic;
    padding-top: 20px;
  }
  div.inner {
    // background: ghostwhite;
    padding: 40px 0 40px 7vw;
    img {
      width: 100%;
      height: 100%;
    }
  }
}



div.author-postpage {
  position: relative;
  padding: 70px 0;
  margin: 0% 0 6% calc(12vw - 15px);
  display: flex;
  justify-content:flex-start;
  align-items: center;
  &:before {
    position: absolute;
    content: "";
    display: block;
    width: 200px;
    border-top: 6px solid $theblack;
    top: 0px;
  }
  div.image {
    width: 20%;
    max-width: 150px;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    img {
      overflow: hidden;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
    }
  }
  div.text {
    width: 60%;
    padding: 5px;
    margin-left: 5%;
    h3 {
      margin: 0;
      text-transform: uppercase;
    }
    h4 {
      font-size: 95%;
      font-weight: 400;
      margin: 12px 0;
    }
    a {
      font-size: 85%;
      color: $theblue;
    }
  }
}

div.spinner  {
  padding: 70px 0;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-self:center;
  div  {
    padding-top: 40px;
    font-style: italic;
    font-size: 90%;
  }
  svg {
    animation: rotator $duration linear infinite;
    .path {
      stroke-dasharray: $offset;
      stroke-dashoffset: 0;
      transform-origin: center;
      animation:
      dash $duration ease-in-out infinite,
      colors ($duration*4) ease-in-out infinite;
    }
  }
}

div.map-block {
  display: flex;
  justify-content: center;
  padding: 4% 8vw;
  background: white;
  background: $ghostwhite;
  div.up-map {
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
    margin: 20px;
    height: 250px;
    width: 30%;
    div.text {
      box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.1);
      background: white;
      height: 170px;
      padding: 25px;
      * {
        margin: 0;
        padding: 0;
      }
      h2 {
        text-transform: uppercase;
        padding-bottom: 15px;
      }
      p {
        font-size: 90%;
        padding-bottom: 15px;
      }
      a {
        display: block;
        font-size: 90%;
      }
    }
  }
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}


@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
 0% { stroke-dashoffset: $offset; }
 50% {
   stroke-dashoffset: $offset/4;
   transform:rotate(135deg);
 }
 100% {
   stroke-dashoffset: $offset;
   transform:rotate(450deg);
 }
}
